locations:
  - ./modules
modules:
  reverseProxy:
    address: google.com
    port: 443
    tls: true
  http:
    ssl: 
      enable: true
      certificatePath: data/ssl/localhost.pem
      keyPath: data/ssl/localhost.key
  directoryListing:
    root: "./"
  php-cgi:
    foo: bar
