locations:
  - ./modules
modules:
  http:
    ssl: 
      enable: true
      certificatePath: data/ssl/localhost.pem
      keyPath: data/ssl/localhost.key
  directoryListing:
    root: "./"
  php-cgi:
    root: "./php"
    bin_path: "/usr/bin/php-cgi"
  ruby-cgi:
    root: "./"
  perl-cgi:
    root: "./"