locations:
  - ./modules
modules:
  http:
    ssl: 
      enable: true
      certificatePath: data/ssl/localhost.pem
      keyPath: data/ssl/localhost.key
  directoryListing:
    root: "./"
  php-cgi:
    root: "./"
