locations:
  - ./modules
modules:
  notes:
    folder: ./
  logger:
    route: /logs
    buffer_size: 200
  reverseProxy:
    address: google.com
    port: 443
    tls: true
  http:
    ssl: 
      enable: true
      certificatePath: data/ssl/localhost.pem
      keyPath: data/ssl/localhost.key
  directoryListing:
    root: "./"
  php-cgi:
    root: "./php"
    bin_path: "/usr/bin/php-cgi"
  ruby-cgi:
    root: "./"
  perl-cgi:
    root: "./"
